{% extends "base.html" %}
{% block content %}
    <h1>Sign Up to Our Event</h1>
    {% if data['messages'] != NONE %}
        <ul>
            {% for m in data['messages'] %}
                <li>{{ m }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form method="post">
        <fieldset>
            <label for="firstname">First Name:</label>
            <input type="text" name="firstname" id="firstname" value="{{ data['form'].firstname if data != NONE }}">
        </fieldset>
        <fieldset>
            <label for="lastname">Last Name:</label>
            <input type="text" name="lastname" id="lastname" value="{{ data['form'].lastname if data != NONE }}">
        </fieldset>
        <fieldset>
            <label for="email">Email:</label>
            <input type="text" name="email" id="email" value="{{ data['form'].email if data != NONE }}">
        </fieldset>
        <fieldset>
            <label for="dob">Date of Birth:</label>
            <input type="text" name="dob" id="dob" value="{{ data['form'].dob if data != NONE }}" placeholder="dd/mm/yyyy">
        </fieldset>
        <fieldset>
            <label for="tac">I have read and accept both the terms and conditions and privacy policy:</label>
            <input type="checkbox" name="tac" id="tac">
        </fieldset>
        <fieldset>
            <input type="submit" name="submit" id="submit" value="Sign Up">
        </fieldset>
    </form>
{% endblock %}
